/*Defined values*/
:root {
    /*Colors*/
    --col-BG: black;
    --col-text1: rgb(255, 255, 255);

    /*Other*/
    --main-padding: 5px;
}

/*Reset browser's default settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Main Page Container*/
.container {
    background-color: var(--col-BG);
    height: 100vh;
    color: var(--col-text1);
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.8fr 1.2fr 0.5fr 1fr;
    grid-template-areas: 
    "header header header"
    "feature1 feature2 feature3"
    "signUp signUp signUp"
    "main main main";
    gap: 0px;
}

/*Centers the text vertically*/
.span-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /*border: 2px dashed white; for testing*/
}

/*Page Components*/
#header {
    background: cadetblue;
    padding: var(--main-padding);
    grid-area: header;
}

main {
    background: dimgray;
    padding: var(--main-padding);
    grid-area: main;
}

#signUp {
    background: rgb(88, 151, 79);
    padding: var(--main-padding);
    grid-area: signUp;
}

#feature1 {
    background: firebrick;
    padding: var(--main-padding);
    grid-area: feature1;
}
#feature2 {
    background: forestgreen;
    padding: var(--main-padding);
    grid-area: feature2;
}
#feature3 {
    background: orangered;
    padding: var(--main-padding);
    grid-area: feature3;
}

/*Tablet View*/
@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1.2fr 2fr 1.5fr 1.5fr;
        grid-template-areas: 
        "header header"
        "main main"
        "signUp feature1"
        "feature3 feature2"
    }
}

/*Mobile View*/
@media (max-width: 550px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr 2fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "header"
        "main"
        "signUp"
        "feature1"
        "feature3"
        "feature2"
    }
}
